#Introduction to Programming with Python

Python is an interpreted, high-level, general-purpose programming language.

Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of **significant whitespace.**

 Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects

 <hr>

##Python Installation

Mac OS X and Linux comes pre installed with python. 

Windows users can download python from https://www.python.org/downloads/ .

<hr>

## Google Colaboratory

Google Colaboratory, or Google Colab as short, is a free tool supported by Google to enable developers and researchers to create, test, and share python code.

Google Colab also provides GPU processing for free. To enable GPU processing go to Runtime -> Change Runtime Type -> select "GPU" as Hardware Accelerator.

GPU processing is especially important for deep learning projects as they oftenly demand extensive processing power.

Keep in mind that Colab session will terminate once every 12 hours and you will lose the runtime session along with all the variables.

<hr>

# Python Basics

## print(Function

The built-in print(function in python allows printing text and variables.

You can also simply type the name of the variable to print(its value in any IPython Kernel.

<hr>

In [1]:
print('Hello world!')

Hello world!

In [2]:
a = 5
a

5

## Installing Modules

`pip` is the package installer for Python. You can use pip to install packages from the Python Package Index and other indexes.

You can execute terminal commands inside Jupyter Notebooks via using quotation mark.

Numpy is one of the most popular python packages that enables powerful numerical operations with optimized functionality.

<hr>

In [3]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

## Importing Modules

Modules are Python .py files that consist of Python code. Any Python file can be referenced as a module. A Python file called hello.py has the module name of hello that can be imported into other Python files or used on the Python command line interpreter. You can learn about creating your own modules by reading How To Write Modules in Python 3.

Modules can define functions, classes, and variables that you can reference in other Python .py files or via the Python command line interpreter.

In Python, modules are accessed by using the import statement. When you do this, you execute the code of the module, keeping the scopes of the definitions so that your current file(s) can make use of these.

<hr>

In [4]:
import numpy as np

print('Numpy version is ' + np.__version__)

Numpy version is 1.18.5

## Python Objects, Basic Types, and Variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic Operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

<hr>

In [5]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [6]:
# Addition
num1 + num2

7

In [7]:
# Subtraction
num2 - num3

-10.41

In [8]:
# Multiplication
num3 * num4

-4.446

In [9]:
# Division
num4 / num5

-0.08571428571428572

In [10]:
# Exponent
num5 ** num6

343

In [11]:
# Increment existing variable
num7 += 4
num7

15.11

In [12]:
# Decrement existing variable
num6 -= 2
num6

1

In [13]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [14]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [15]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [16]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [17]:
# Is the first expression less than the second expression?
num5 < num6

False

In [18]:
# Is this expression True?
5 > 3 > 1

True

In [19]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [20]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [21]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [22]:
# Notice that the string was not modified
simple_string1

'an example'

In [23]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [24]:
# This string wasn't modified either
simple_string2

'oranges '

In [25]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [26]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [27]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [28]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

##Strings

Strings are ordered text based data which are represented by enclosing the same in single-double-triple quotes.

In [29]:
String0 = 'Taj Mahal is beautiful'
String1 = "Taj Mahal is beautiful"
String2 = '''Taj Mahal
is
beautiful'''

In [30]:
print(String0 , type(String0))
print(String1, type(String1))
print(String2, type(String2))

Taj Mahal is beautiful <class 'str'>
Taj Mahal is beautiful <class 'str'>
Taj Mahal
is
beautiful <class 'str'>

String Indexing and Slicing are similar to Lists which was explained in detail earlier.

In [31]:
print(String0[4])
print(String0[4:])

M
Mahal is beautiful

###Built-in Functions

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it returns **-1**. Remember to not confuse the returned -1 for reverse indexing value.

In [32]:
print(String0.find('al'))
print(String0.find('am'))

7
-1

The index value returned is the index of the first element in the input data.

In [33]:
print(String0[7])

a

One can also input **find( )** function between which index values it has to search.

In [34]:
print(String0.find('j',1))
print(String0.find('j',1,3))

2
2

**capitalize( )** is used to capitalize the first element in the string.

In [35]:
String3 = 'observe the first letter in this sentence.'
print(String3.capitalize())

Observe the first letter in this sentence.

**center( )** is used to center align the string by specifying the field width.

In [36]:
String0.center(70)

'                        Taj Mahal is beautiful                        '

One can also fill the left out spaces with any other character.

In [37]:
String0.center(70,'-')

'------------------------Taj Mahal is beautiful------------------------'

**zfill( )** is used for zero padding by specifying the field width.

In [38]:
String0.zfill(30)

'00000000Taj Mahal is beautiful'

**expandtabs( )** allows you to change the spacing of the tab character. '\t' which is by default set to 8 spaces.

In [39]:
s = 'h\te\tl\tl\to'
print(s)
print(s.expandtabs(1))
print(s.expandtabs())

h	e	l	l	o
h e l l o
h       e       l       l       o

**index( )** works the same way as **find( )** function the only difference is find returns '-1' when the input element is not found in the string but **index( )** function throws a ValueError

In [40]:
print(String0.index('Taj'))
print(String0.index('Mahal',0))
# print(String0.index('Mahal',10,20))

0
4

**endswith( )** function is used to check if the given string ends with the particular char which is given as input.

In [41]:
print(String0.endswith('y'))

False

The start and stop index values can also be specified.

In [42]:
print(String0.endswith('l',0))
print(String0.endswith('M',0,5))

True
True

**count( )** function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [43]:
print(String0.count('a',0))
print(String0.count('a',5,10))

4
2

**join( )** function is used add a char in between the elements of the input string.

In [44]:
'a'.join('*_-')

'*a_a-'

'*_-' is the input string and char 'a' is added in between each element

**join( )** function can also be used to convert a list into a string.

In [45]:
a = list(String0)
print(a)
b = ''.join(a)
print(b)

['T', 'a', 'j', ' ', 'M', 'a', 'h', 'a', 'l', ' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']
Taj Mahal is beautiful

Before converting it into a string **join( )** function can be used to insert any char in between the list elements.

In [46]:
c = '/'.join(a)[18:]
print(c)

 /i/s/ /b/e/a/u/t/i/f/u/l

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the **join()** function.

In [47]:
d = c.split('/')
print(d)

[' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']

In **split( )** function one can also specify the number of times you want to split the string or the number of elements the new returned list should conatin. The number of elements is always one more than the specified number this is because it is split the number of times specified.

In [48]:
e = c.split('/',3)
print(e)
print(len(e))

[' ', 'i', 's', ' /b/e/a/u/t/i/f/u/l']
4

**lower( )** converts any capital letter to small letter.

In [49]:
print(String0)
print(String0.lower())

Taj Mahal is beautiful
taj mahal is beautiful

**upper( )** converts any small letter to capital letter.

In [50]:
String0.upper()

'TAJ MAHAL IS BEAUTIFUL'

**replace( )** function replaces the element with another element.

In [51]:
String0.replace('Taj Mahal','Bengaluru')

'Bengaluru is beautiful'

**strip( )** function is used to delete elements from the right end and the left end which is not required.

In [52]:
f = '    hello      '

If no char is specified then it will delete all the spaces that is present in the right and left hand side of the data.

In [53]:
f.strip()

'hello'

**strip( )** function, when a char is specified then it deletes that char if it is present in the two ends of the specified string.

In [54]:
f = '   ***----hello---*******     '

In [55]:
f.strip('*')

'   ***----hello---*******     '

The asterisk had to be deleted but is not. This is because there is a space in both the right and left hand side. So in strip function. The characters need to be inputted in the specific order in which they are present.

In [56]:
print(f.strip(' *'))
print(f.strip(' *-'))

----hello---
hello

**lstrip( )** and **rstrip( )** function have the same functionality as strip function but the only difference is **lstrip( )** deletes only towards the left side and **rstrip( )** towards the right.

In [57]:
print(f.lstrip(' *'))
print(f.rstrip(' *'))

----hello---*******
   ***----hello---

##Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [58]:
a = []

In [59]:
print(type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [60]:
x = ['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [61]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [62]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [63]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [64]:
z  = [x,y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [65]:
z1 = z[0]
print(z1)

['apple', 'orange']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [66]:
z1[0]

'apple'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [67]:
z[0][0]

'apple'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [68]:
num = [0,1,2,3,4,5,6,7,8,9]

In [69]:
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [70]:
num[:9:3]

[0, 3, 6]

###Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [71]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [72]:
min(num)

0

In [73]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [74]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [75]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [76]:
'Fire' in names

True

In [77]:
'Rajath' in names

False

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [78]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [79]:
print(max(mlist))
print(min(mlist))

z
az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [80]:
nlist = ['1','94','93','1000']

In [81]:
print(max(nlist))
print(min(nlist))

94
1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [82]:
print(max(names, key=len))
print(min(names, key=len))

Earth
Air

But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

Any other built in function can be used or lambda function (will be discussed later) in place of len.

A string can be converted into a list by using the **list()** function.

In [83]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [84]:
lst = [1,1,4,8,7]

In [85]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of a particular element that is present in the list.

In [86]:
lst.count(1)

3

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [87]:
lst1 = [5,4,2,8]

In [88]:
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

But if nested list is not what is desired then **extend( )** function can be used.

In [89]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [90]:
lst.index(1)

0

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [91]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [92]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [93]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [94]:
lst.pop(0)

1

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [95]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

Alternative to **remove** function but with using index value is **del**

In [96]:
del lst[5]
print(lst)

[1, 4, 8, 7, 1, 5, 4, 2]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [97]:
lst.reverse()
print(lst)

[2, 4, 5, 1, 7, 8, 4, 1]

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [98]:
lst.sort()
print(lst)

[1, 1, 2, 4, 4, 5, 7, 8]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [99]:
lst.sort(reverse=True)
print(lst)

[8, 7, 5, 4, 4, 2, 1, 1]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [100]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length key=len should be specified as shown.

In [101]:
names.sort(key=len)
print(names)
names.sort(key=len,reverse=True)
print(names)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [102]:
lista= [2,1,4,3]

In [103]:
listb = lista
print(listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [104]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [105]:
print(listb)

[2, 1, 4, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [106]:
lista = [2,1,4,3]

In [107]:
listb = lista.copy()
# listb = lista[:]
print(listb)

[2, 1, 4, 3]

In [108]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [109]:
print(listb)

[2, 1, 4, 3]

##Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [110]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [111]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [112]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [113]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [114]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [115]:
print(tup3[1])
tup5 = tup4[:4]
print(tup5)

2
('H', 'e', 'l', 'l')

### Mapping one tuple to another

In [116]:
(a,b,c)= ('alpha','beta','gamma')

In [117]:
print(a,b,c)

alpha beta gamma

In [118]:
d = tuple('RajathKumarMP')
print(d)

('R', 'a', 'j', 'a', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'M', 'P')

### Built In Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [119]:
d.count('a')

3

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [120]:
d.index('a')

1

##Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [ ]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<type 'dict'> <type 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [ ]:
d0['One'] = 1
d0['OneTwo'] = 12 
print(d0)

{'OneTwo': 12, 'One': 1}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [ ]:
print(d0['One'])

1

Two lists which are related can be merged to form a dictionary.

In [ ]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

**zip( )** function is used to combine two lists

In [ ]:
d2 = zip(names,numbers)
print(d2)

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. **dict( )** function is used.

In [ ]:
a1 = dict(d2)
print(a1)

{'Four': 4, 'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}

###Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [ ]:
a1.clear()
print(a1)

{}

Dictionary can also be built using loops.

In [ ]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print(a1)

{'Four': 4, 'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}

**values( )** function returns a list with all the assigned values in the dictionary.

In [ ]:
a1.values()

[4, 5, 3, 2, 1]

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [ ]:
a1.keys()

['Four', 'Five', 'Three', 'Two', 'One']

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [ ]:
a1.items()

[('Four', 4), ('Five', 5), ('Three', 3), ('Two', 2), ('One', 1)]

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [ ]:
a2 = a1.pop('Four')
print(a1)
print(a2)

{'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}
4

# Loops and Control Flow Statements

## If

If statement executes the code block below it if and only if the given condition resolves as `true`

```
if some_condition:
    algorithm
```

In [122]:
x = 12
if x >10:
    print("Hello")

Hello

##If-else

If-else statements executes the code below the if block if and only if the given condition resolves as `true`, and if the condition is `false` executes the code block below the else statement

```
if some_condition:
    algorithm
else:
    algorithm
```

In [124]:
x = 12
if x > 10:
    print("hello")
else:
    print("world")

hello

##if-elif

elif statement executes the corresponding code block if the previous condition is `false` and the corresponding condition is `true`

```
if some_condition:
    algorithm
elif:
    algorithm
else:
    algorithm
```

In [125]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

## Nested if Statements

if statement inside a if statement or if-elif or if-else are called as nested if statements.

In [ ]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
    if x==10:
        print("x=10")
    else:
        print("invalid")
else:
    print("x=y")

x<y
x=10

##Loops

Loops execute the code block for a number of iterations.

###For

For statement iterates through the given list of items.

In [126]:
for i in range(5):
    print(i)

0
1
2
3
4

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [127]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [128]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print(x)

1
2
3
4
5
6
7
8
9

###While

While loops in python executes the code block below iteratively until the condition given resolves to false. The condition supposed to be changing at each iteration for the code block to halt eventually.

In [129]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

##Break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [130]:
for i in range(100):
    print(i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

##Continue

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [131]:
for i in range(10):
    if i>4:
        print("The end.")
        continue
    elif i<7:
        print(i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

##List Comprehensions

Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [132]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print(res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [133]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

That's it!. Only remember to enclose it in square brackets

Understanding the code, The first bit of the code is always the algorithm and then leave a space and then write the necessary loop. But you might be wondering can nested loops be extended to list comprehensions? Yes you can.

In [134]:
[27*x for x in range(1,20) if x<=10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Let us add one more loop to make you understand better,

In [139]:
[27*z for i in range(50) if i<2 for z in range(1,11)]

[27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270]

Nest list comprehensions are also possible. An example is given below.

In [144]:
[[27*i for i in range(11)] for z in range(1,11) if z%2==0]

[[0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270],
 [0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270],
 [0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270],
 [0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270],
 [0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270]]

# Functions

## Implementation of Functions

Most of the times, In a algorithm the statements keep repeating and it will be a tedious job to execute the same statements again and again and will consume a lot of memory and is not efficient. Enter Functions.

This is the basic syntax of a function

```
def funcname(arg1, arg2,... argN):
    ''' Document String'''
    statements
    return <value>
```

Read the above syntax as, A function by name "funcname" is defined, which accepts arguements "arg1,arg2,....argN". The function is documented and it is '''Document String'''. The function after executing the statements returns a "value".

In [146]:
print("Hey Rajath!")
print("Rajath, How do you do?")

Hey Rajath!
Rajath, How do you do?

Instead of writing the above two statements every single time it can be replaced by defining a function which would do the job in just one line. 

Defining a function firstfunc().

In [147]:
def firstfunc():
    print("Hey Rajath!")
    print("Rajath, How do you do?")

In [148]:
firstfunc()

Hey Rajath!
Rajath, How do you do?

**firstfunc()** every time just prints the message to a single person. We can make our function **firstfunc()** to accept arguements which will store the name and then prints respective to that accepted name. To do so, add a argument within the function as shown.

In [151]:
def firstfunc(username):
    print("Hey", username + '!')
    print(username + ',' ,"How do you do?")

In [153]:
name1 = input('Please enter your name : ')

Please enter your name : Alita

The name "Alita" is actually stored in name1. So we pass this variable to the function **firstfunc()** as the variable username because that is the variable that is defined for this function. i.e name1 is passed as username.

In [154]:
firstfunc(name1)

Hey Alita!
Alita, How do you do?

Let us simplify this even further by defining another function **secondfunc()** which accepts the name and stores it inside a variable and then calls the **firstfunc()** from inside the function itself.

In [157]:
def firstfunc(username):
    print("Hey", username + '!')
    print(username + ',' ,"I miss you.")
def secondfunc():
    name = input("Please enter your name : ")
    firstfunc(name)

In [158]:
secondfunc()

Please enter your name : Felix
Hey Felix!
Felix, I miss you.

##Return Statement

When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, return statement is used.

In [159]:
def times(x,y):
    z = x*y
    return z

The above defined **times( )** function accepts two arguements and return the variable z which contains the result of the product of the two arguements

In [160]:
c = times(4,5)
print(c)

20

The z value is stored in variable c and can be used for further operations.

Instead of declaring another variable the entire statement itself can be used in the return statement as shown.

In [161]:
def times(x,y):
    '''This multiplies the two input arguments'''
    return x*y

In [162]:
c = times(4,5)
print(c)

20

Since the **times( )** is now defined, we can document it as shown above. This document is returned whenever **times( )** function is called under **help( )** function.

In [163]:
help(times)

Help on function times in module __main__:

times(x, y)
    This multiplies the two input arguments

Multiple variable can also be returned, But keep in mind the order.

In [164]:
eglist = [10,50,30,12,6,8,100]

In [165]:
def egfunc(eglist):
    highest = max(eglist)
    lowest = min(eglist)
    first = eglist[0]
    last = eglist[-1]
    return highest,lowest,first,last

If the function is just called without any variable for it to be assigned to, the result is returned inside a tuple. But if the variables are mentioned then the result is assigned to the variable in a particular order which is declared in the return statement.

In [166]:
egfunc(eglist)

(100, 6, 10, 100)

In [167]:
a,b,c,d = egfunc(eglist)
print(' a =',a,'\n b =',b,'\n c =',c,'\n d =',d)

 a = 100
 b = 6
 c = 10
 d = 100

##Implicit arguments

When an argument of a function is common in majority of the cases or it is "implicit" this concept is used.

In [168]:
def implicitadd(x,y=3):
    return x+y

**implicitadd( )** is a function accepts two arguments but most of the times the first argument needs to be added just by 3. Hence the second argument is assigned the value 3. Here the second argument is implicit.

Now if the second argument is not defined when calling the **implicitadd( )** function then it considered as 3.

In [169]:
implicitadd(4)

7

But if the second argument is specified then this value overrides the implicit value assigned to the argument

In [170]:
implicitadd(4,4)

8

##Any number of arguments

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the argument.

In [171]:
def add_n(*args):
    res = 0
    reslist = []
    for i in args:
        reslist.append(i)
    print(reslist)
    return sum(reslist)

The above function accepts any number of arguments, defines a list and appends all the arguments into that list and return the sum of all the arguments.

In [172]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

In [173]:
add_n(1,2,3)

[1, 2, 3]

6

##Global and Local Variables

Whatever variable is declared inside a function is local variable and outside the function in global variable.

In [1]:
eg1 = [1,2,3,4,5]

In the below function we are appending a element to the declared list inside the function. eg2 variable declared inside the function is a local variable.

In [2]:
def egfunc1():
    def thirdfunc(arg1):
        eg2 = arg1[:]
        eg2.append(6)
        print("This is happening inside the function :", eg2) 
    print("This is happening before the function is called : ", eg1)
    thirdfunc(eg1)
    print("This is happening outside the function :", eg1)   
    print("Accessing a variable declared inside the function from outside :" , eg2)

In [3]:
egfunc1()

This is happening before the function is called :  [1, 2, 3, 4, 5]
This is happening inside the function : [1, 2, 3, 4, 5, 6]
This is happening outside the function : [1, 2, 3, 4, 5]

NameError: ignored

If a **global** variable is defined as shown in the example below then that variable can be called from anywhere.

In [5]:
def egfunc1():
    def thirdfunc(arg1):
        global eg2
        eg2 = arg1[:]
        eg2.append(6)
        print("This is happening inside the function :", eg2) 
    print("This is happening before the function is called : ", eg1)
    thirdfunc(eg1)
    print("This is happening outside the function :", eg1)   
    print("Accessing a variable declared inside the function from outside :" , eg2)

In [6]:
egfunc1()

This is happening before the function is called :  [1, 2, 3, 4, 5]
This is happening inside the function : [1, 2, 3, 4, 5, 6]
This is happening outside the function : [1, 2, 3, 4, 5]
Accessing a variable declared inside the function from outside : [1, 2, 3, 4, 5, 6]

##Lambda Functions

These are small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined by the keyword **lambda** followed by the variables, a colon and the respective expression.

In [7]:
z = lambda x: x * x

In [8]:
z(8)

64

###map

**map( )** function basically executes the function that is defined to each of the list's element separately. In Python 3, map returns an iterator. This way it can also be used directly in the value range of for loops. Keep in mind that iterating over the map object will deplete the map object.

In [9]:
list1 = [1,2,3,4,5,6,7,8,9]

In [27]:
eg = map(lambda x:x+2, list1)
print(list(eg))
print(list(eg))

[3, 4, 5, 6, 7, 8, 9, 10, 11]
[]

You can also add two lists.

In [28]:
list2 = [9,8,7,6,5,4,3,2,1]

In [29]:
eg2 = map(lambda x,y:x+y, list1,list2)
print(list(eg2))

[10, 10, 10, 10, 10, 10, 10, 10, 10]

Not only lambda function but also other built in functions can also be used.

In [30]:
eg2 = map(lambda x,y:x+y, list1,list2)
eg3 = map(str,list(eg2))
print(list(eg3))

['10', '10', '10', '10', '10', '10', '10', '10', '10']

###filter

**filter( )** function is used to filter out the values in a list. Note that **filter()** function returns the result in a new iterable filter object.

In [33]:
list1 = [1,2,3,4,5,6,7,8,9]

To get the elements which are less than 5,

In [37]:
filter(lambda x:x<5,list1)

In [38]:
list(filter(lambda x:x<5,list1))

[1, 2, 3, 4]

Notice what happens when **map()** is used.

In [41]:
list(map(lambda x:x<5, list1))

[True, True, True, True, False, False, False, False, False]

We can conclude that, whatever is returned true in **map( )** function that particular element is returned when **filter( )** function is used.

In [43]:
list(filter(lambda x:x%4==0,list1))

[4, 8]

### reduce

**reduce()** function applies the input functon to the input list iteratively until the list is depleted. In the following example reduce function will first take the summation of the first and second element of the `numbers` list and uses the resulting value as if the first element of the reminder of the `numbers` list and takes the summation with the third element.

In [44]:
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers)
print(result)

68

### enumerate

**enumerate()** function operates very similar to **zip()** function. The key difference is that the enumerate function will use a list of integers with legth equal to the input list as the second input argument of the zip function.

In [49]:
numbers = [3, 4, 6, 9, 34, 12]

for i, j in enumerate(numbers):
  print((i,j))

(0, 3)
(1, 4)
(2, 6)
(3, 9)
(4, 34)
(5, 12)

# Exception Handling

## Usage with Exceptions

Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal.

Programmers are supposed to have the foresight to handle runtime errors since they are not obvious.

In [50]:
class TraceBlock:
    def message(self, arg):
        print('running ' + arg) 
        
    def __enter__(self):
        print('starting with block')
        return self
    
    def __exit__(self, exc_type, exc_value, exc_tb):
        if exc_type is None: 
            print('exited normally\n')
        else:
            print('raise an exception! ' + str(exc_type)) 
            return False # Propagate

In [51]:
with TraceBlock() as action: 
    action.message('test 1')
    print('reached')

starting with block
running test 1
reached
exited normally

In [52]:
with TraceBlock() as action: 
    action.message('test 2') 
    raise TypeError()
    print('not reached')

starting with block
running test 2
raise an exception! <class 'TypeError'>

TypeError: ignored

## User Defined Exceptions

In [53]:
class AlreadyGotOne(Exception): 
    pass

def gail():
    raise AlreadyGotOne()

In [54]:
try:
    gail()
except AlreadyGotOne:
    print('got exception')

got exception

In [55]:
gail()

AlreadyGotOne: ignored

In [57]:
class MyCustomError(Exception):
    
    def __init__(self, job, *args, **kwargs):
        super(MyCustomError, self).__init__(*args, **kwargs)
        self._job = job
    
    def __str__(self): 
        return 'This is how i handle exceptions as a {}'.format(self._job)
    
raise MyCustomError('Python Programmer')

MyCustomError: ignored

## Finally clause

If a `finally` clause is present, the `finally` clause will execute as the last task before the try statement completes. The `finally` clause runs whether or not the try statement produces an exception.

In [58]:
try:
  raise KeyboardInterrupt
finally:
  print('Goodbye, world!')

Goodbye, world!

KeyboardInterrupt: ignored

# File Operations, Inputs and Outputs

## Opening and Working on Files

Python has a built-in open() function to open a file. This function returns a file object, also called a handle, as it is used to read or modify the file accordingly.

NOTE:
From here on, we are going to keep using the with/as statement to handle I/O operations, namely Context Manager objects.

We can specify the mode while opening a file. In mode, we specify whether we want to read `r`, write `w` or append `a` to the file. We can also specify if we want to open the file in text mode or binary mode.

In [62]:
with open('test.txt', 'r') as f:
  print(f.readline())

Line 0

In [63]:
import csv

with open('elderlyHeightWeight.csv', 'r') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t') # define the field delimiter
    header = next(reader)
    print(header)
    print() # blank line

    for i in range(4):
        print(next(reader)) # print the first 4 lines after the header

['Gender', 'Age', 'body wt', 'ht']

['F', '77', '63.8', '155.5']
['F', '80', '56.4', '160.5']
['F', '76', '55.2', '159.5']
['F', '77', '58.5', '151']

We can see that the ```reader()``` function has processed each line into a single list element based on the field delimiter we supplied. Importantly also note that all the values are now of type ```str``` in each list (everything is in quotes). This is important if you want to do calculations on these values. 

Using the ```csv``` module makes it easy to select whole columns by selecting the data we want from the ```reader```.  We'll use the ```.next()``` method to find the column order and then iterate over the rows with a ```for``` loop to pull out height and weight.

In [72]:

with open('elderlyHeightWeight.csv', 'r') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t') # define the field delimiter

    # use next() method on reader object to id the headers
    headers = next(reader)
    print(headers)
    
    # we now know weight index is 2, height index is 3
    
    weight  = ['Weight'] # list to hold data, put in header 
    height = ['Height']

    for row in reader:
        weight.append(row[2])
        height.append(row[3])
    
    print (weight)
    print (height)

['Gender', 'Age', 'body wt', 'ht']
['Weight', '63.8', '56.4', '55.2', '58.5', '64', '51.6', '54.6', '71', '75.5', '83.9', '75.7', '72.5', '56.2', '73.4', '67.7', '93', '95.6', '75.6']
['Height', '155.5', '160.5', '159.5', '151', '165.5', '167', '154', '153', '171', '178.5', '167', '171.5', '167', '168.5', '174.5', '168', '168', '183.5']

The ```iterable``` in the 

```
for...
``` 

loop above is each row of the input file. From each row we simply capture the two values we want and add these to lists. We could then further process the data in these two lists.

In order to open a file for writing we use the ```'w'``` parameter in our ```open()``` statement. Rather obviously ```'w'``` stands for write. If the file doesn't exist a new file is created with the given name and extension.

Note that if the file exists then opening it with the ```'w'``` argument removes any data that was in the file and overwrites it with what you put in. This may not be what you wanted to do. 

Once we have an open file we can write data to it with the ```write()``` method applied to the file handle.

Let's open a file and write some data to it.

In [73]:
with open('new_test.txt', 'w') as f_out:
    for i in range(10):
        line  = 'Line ' + str(i) + '\n'
        f_out.write(line)

If we want to append to the already existing data in a file, we simply open it with append `a` mode and write to the file as usual.

In [74]:
with open('new_test.txt', 'a') as f_out:
    for i in range(10, 20):
        line  = 'Appended Line ' + str(i) + '\n'
        f_out.write(line)

## Working on Json Files with Pandas

###What is JSON?

JSON is shorthand for JavaScript Object Notation. This is a text format that is often used to exchange data on the web.

The format looks like this:

In [66]:
import json

your_json = '{"col1":{"row1":1,"row2":2,"row3":3},"col2":{"row1":"x","row2":"y","row3":"z"}}'
parsed = json.loads(your_json)
print(json.dumps(parsed, indent=4, sort_keys=True))

{
    "col1": {
        "row1": 1,
        "row2": 2,
        "row3": 3
    },
    "col2": {
        "row1": "x",
        "row2": "y",
        "row3": "z"
    }
}

Any type of data can be stored in this format (string, integer, float etc).

It’s common for a web server to return and accept json format. This is often how the frontend communicates with the backend.

###pandas.read_json

The example below parses a JSON string and converts it to a Pandas DataFrame.

In [67]:
# load pandas and json modules                                                                                               
import pandas as pd
import json

# json string                                                                                                                
s = '{"col1":{"row1":1,"row2":2,"row3":3},"col2":{"row1":"x","row2":"y","row3":"z"}}'

# read json to data frame                                                                                                    
df = pd.read_json(s)
print(df)

      col1 col2
row1     1    x
row2     2    y
row3     3    z

###Load JSON from URL

To load JSON from an URL (API), you can use this code:

In [68]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
print(df)

    base       date  time_last_updated         rates
AED  USD 2020-08-16         1597536251      3.671928
ARS  USD 2020-08-16         1597536251     73.117051
AUD  USD 2020-08-16         1597536251      1.397466
BGN  USD 2020-08-16         1597536251      1.655520
BRL  USD 2020-08-16         1597536251      5.389548
BSD  USD 2020-08-16         1597536251      1.000000
CAD  USD 2020-08-16         1597536251      1.325003
CHF  USD 2020-08-16         1597536251      0.909920
CLP  USD 2020-08-16         1597536251    793.482324
CNY  USD 2020-08-16         1597536251      6.950775
COP  USD 2020-08-16         1597536251   3777.714286
CZK  USD 2020-08-16         1597536251     22.115138
DKK  USD 2020-08-16         1597536251      6.305452
DOP  USD 2020-08-16         1597536251     58.332353
EGP  USD 2020-08-16         1597536251     15.872749
EUR  USD 2020-08-16         1597536251      0.845790
FJD  USD 2020-08-16         1597536251      2.136313
GBP  USD 2020-08-16         1597536251      0.763956
GTQ  USD 2020-08-16         1597536251      7.690936
HKD  USD 2020-08-16         1597536251      7.750209
HRK  USD 2020-08-16         1597536251      6.377916
HUF  USD 2020-08-16         1597536251    292.965483
IDR  USD 2020-08-16         1597536251  14973.488190
ILS  USD 2020-08-16         1597536251      3.403939
INR  USD 2020-08-16         1597536251     74.883024
ISK  USD 2020-08-16         1597536251    136.393721
JPY  USD 2020-08-16         1597536251    106.676250
KRW  USD 2020-08-16         1597536251   1186.255165
KZT  USD 2020-08-16         1597536251    419.746032
MVR  USD 2020-08-16         1597536251     15.350000
MXN  USD 2020-08-16         1597536251     22.116482
MYR  USD 2020-08-16         1597536251      4.192936
NOK  USD 2020-08-16         1597536251      8.908156
NZD  USD 2020-08-16         1597536251      1.528849
PAB  USD 2020-08-16         1597536251      1.000000
PEN  USD 2020-08-16         1597536251      3.572521
PHP  USD 2020-08-16         1597536251     48.744086
PKR  USD 2020-08-16         1597536251    167.720930
PLN  USD 2020-08-16         1597536251      3.724122
PYG  USD 2020-08-16         1597536251   7212.000000
RON  USD 2020-08-16         1597536251      4.093314
RUB  USD 2020-08-16         1597536251     73.210807
SAR  USD 2020-08-16         1597536251      3.750231
SEK  USD 2020-08-16         1597536251      8.703962
SGD  USD 2020-08-16         1597536251      1.372047
THB  USD 2020-08-16         1597536251     31.096861
TRY  USD 2020-08-16         1597536251      7.368864
TWD  USD 2020-08-16         1597536251     29.400752
UAH  USD 2020-08-16         1597536251     27.308675
USD  USD 2020-08-16         1597536251      1.000000
UYU  USD 2020-08-16         1597536251     42.400855
ZAR  USD 2020-08-16         1597536251     17.426011

###Save to JSON file

A DataFrame can be saved as a json file. To do so, use the method ```to_json(filename)```.<br>
If you want to save to a json file, you can do the following:

In [69]:
import pandas as pd
import json
df = pd.DataFrame([1,2,3])
df.to_json('example.json')

For a dataframe with several columns:

In [70]:
data = [['Axel',32], ['Alice', 26], ['Alex', 45]]
df = pd.DataFrame(data,columns=['Name','Age'])
df.to_json('example.json')

### Load JSON from File

If the json data is stored in a file, you can load it into a DataFrame.

You can use the example above to create a json file, then use this example to load it into a dataframe.

In [71]:
df_f = pd.read_json('example.json')

###Pandas to JSON example

In the next example, you load data from a csv file into a dataframe, that you can then save as json file.

You can load a csv file as a pandas dataframe:

In [75]:
df = pd.read_csv("elderlyHeightWeight.csv")

Then save the DataFrame to JSON format:

In [76]:
df.to_json("data.json")